<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>scheme_name</key>
			<string>WeRentCar</string>
			<key>provisioning_profile</key>
			<string>weizucheGuanWangqiyedabao</string>
			<key>user_key</key>
			<string>544bfc51fc7e3c02c4c10fa1d9b8ee99</string>
			<key>api_key</key>
			<string>12fba39df589837705bc919f210cfb76</string>
		</dict>
		<dict>
			<key>scheme_name</key>
			<string>WeRentCar_lvkazuche</string>
			<key>provisioning_profile</key>
			<string>lvkazucheqiyefabu</string>
			<key>user_key</key>
			<string>544bfc51fc7e3c02c4c10fa1d9b8ee99</string>
			<key>api_key</key>
			<string>12fba39df589837705bc919f210cfb76</string>
		</dict>
		<dict>
			<key>scheme_name</key>
			<string>WeRentCar_jikezuche</string>
			<key>provisioning_profile</key>
			<string>jikeqiyedabao</string>
			<key>user_key</key>
			<string>544bfc51fc7e3c02c4c10fa1d9b8ee99</string>
			<key>api_key</key>
			<string>12fba39df589837705bc919f210cfb76</string>
		</dict>
		<dict>
			<key>scheme_name</key>
			<string>WeRentCar_lejiazuche</string>
			<key>provisioning_profile</key>
			<string>lejiaqiyedabao</string>
			<key>user_key</key>
			<string>544bfc51fc7e3c02c4c10fa1d9b8ee99</string>
			<key>api_key</key>
			<string>12fba39df589837705bc919f210cfb76</string>
		</dict>
		<dict>
			<key>scheme_name</key>
			<string>WeRentCar_xuanlinzuche</string>
			<key>provisioning_profile</key>
			<string>xuanlinzucheqiyedabao</string>
			<key>user_key</key>
			<string>544bfc51fc7e3c02c4c10fa1d9b8ee99</string>
			<key>api_key</key>
			<string>12fba39df589837705bc919f210cfb76</string>
		</dict>
		<dict>
			<key>scheme_name</key>
			<string>WeRentCar_youchekuzuche</string>
			<key>provisioning_profile</key>
			<string>youchekuzucheqiyedabao</string>
			<key>user_key</key>
			<string>544bfc51fc7e3c02c4c10fa1d9b8ee99</string>
			<key>api_key</key>
			<string>12fba39df589837705bc919f210cfb76</string>
		</dict>
	</array>
</dict>
</plist>
